kiro.xxx.cn {
        reverse_proxy localhost:8000 {
                header_up X-Forwarded-Proto {scheme}
                header_up X-Forwarded-Host {host}
        }

        log {
                output file /var/log/caddy/kiro.codesome.cn.log
        }
}